* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header h2 {
  color: #ffa200;
}

body,
main {
  display: flex;
}



header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 20px 40px; 
  background-color: #003a8c; 
}

header ul {
  text-align: end;
}

li {
  list-style: none;
  display: inline-flex;
  gap: 20px;
}
li a {
  color: #ffffff;
  text-decoration: none;
}

footer a {
    color: #ffa200;
    text-decoration: none;
  }

li a:hover {
  color: #ffa200;
}

body {
  flex-direction: column;
  height: 100vh;
  
}

main {
  flex-direction: row;
  flex: auto;
  padding: 20px 40px; 
}

main article {
  flex: 2;
  overflow-y: auto;
}

main aside {
  flex: 1;
  overflow-y: auto;
}

footer{
    padding: 20px 40px; 
}