*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body,
main {
  display: flex;
}

header{
   padding: 20px 40px;
   background-color: #00378a;
}

li{
    
    list-style: none;
    display: inline-flex;
    margin-right: 20px;
    
}
a{
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    color: #ffa200;
}
body {
  flex-direction: column;
  height: 100vh;
}

main {
  flex-direction: row;
  flex: auto;
}

main article {
  flex: 2;
  overflow-y: auto;
}

main aside {
  flex: 1;
  overflow-y: auto;
}


